<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>webbookmark-about</title>
<style>
div.zh,div.en{display:none;flex-direction:column;}
</style>
</head>
<body>

<div class="en">
<p>This website is used for the collection and sharing of web links and can be operated online through any web browser.Thus, cross-platform and independent of specific browser. It is also convenient to share your bookmarks with others.</p>
<h5>Advantage</h5>
<ul>
<li>Can be shared and visible to anyone</li>
<li>Free</li>
<li>Simple, support uploading existing (i.e. html format file  exported from browser) bookmarks</li>
<li>connectionless, username can be random letters. If not provided, no contact information, including the webmaster</li>
</ul>
<h5>Disadvantage</h5>
<ul>
<li>Everything in a bookmark is public and can be seen by others.</li>
<li>Because it is stored over the network, the stability is not as good as the browser's own bookmark, and server or network problems may cause the content to fail to save  <a href="/savelocal.html">remedy</a></li>
<li>Need to log in, certain amount of time to consume; if just visit bookmarks without edition, you can visit the shared address without signing in</li>
<li>For bookmark visitors( not the owner ), there are ads</li>
</ul>
</div>
</body>
</html>