<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>webbookmark-help</title>
<style>
p{display:none;}
</style>
<script>
	function get_default_lang(){
		let la=navigator.language||navigator.userLanguage;
		la=la.substr(0, 2);
		if(la == 'zh'){
			lang='zh';
	      }else{
			lang='en';
	      }
		let e=document.getElementsByClassName(la)[0];
		e.style.display="flex";
	}
	window.onload=get_default_lang;
</script>
</head>
<body>
<div id="lg">
			<button id="en">English</button>
			<button id="zh">中文</button>
</div>
<div class='zh'>
<h4>用法</h4>
<h5>添加、修改、删除书签或文件夹</h5>
<p>在对应的书签图标或文件夹名称上用鼠标点击，弹出快捷菜单，选择对应的操作</p>
<h5>访问对应的书签</h5>
<p>将鼠标移动到想要访问的网址上，按下鼠标滑轮，网页将在新的标签页中打开</p>
<h4>名词释义</h4>
<h5>同步至服务器</h5>
<p>将修改后的书签同步到服务器，这样更新的内容可以保留，下次访问的时候可以访问更新后的内容，若改变书签后不进行同步，新的内容将丢失</p>
<h5>退出 </h5>
<p>退出登录，你若需要再次访问该页面，需要重新登录;同时他人也无法使用您的浏览器对您的书签进行修改</p>
<h5>清除账户</h5>
<p>将您的书签及账户名从本网站服务器中删除，如果您需要这些书签，请注意先保存到本地</p>
<h5>上传文件</h5>
<p>当您想把自己已有的(从浏览器中导出的)书签上传，变成在线书签时，可以使用此功能。注意"将覆盖已有的书签",而不是将其添加到已有的书签中。或者当本服务器崩溃，导致无法上传时，仅限在PC端的浏览器，您可以保存书签到本地，需2-3分钟，等待后续上传。</p>
<h4>忘记密码</h4>
<p><a href="/password.html">请点击这里</a></p>
<h4>网站图标不可见或与实际不符</h4>
<p>本网站直接从对应的网站获取图标(favicon.ico),若该网站不提供或无法通过访问获得，则会被替代或不可见</p>
</div>
<div class='en'>
<h4>Usage</h4>
<h5>Add, modify, delete bookmarks or folders</h5>
<p>Click with the mouse on the corresponding bookmark icon or folder name, pop up the shortcut menu, select the corresponding action</p>
<h5>Access the corresponding bookmark</h5>
<p>Move the mouse over the URL you want to access, press the mouse pulley, and the page will open in the new tab</p>
<h4>Noun Interpretation</h4>
<h5>Sync to serve</h5>
<p>Sync the modified bookmark to the server so that the updated content can be retained, the updated content can be accessed the next time accessed, and if the bookmark is not synced after the change, the new content will be lost</p>
<h5>Exit</h5>
<p>Sign in, and if you need to visit the page again, you need to log back in, and no one else will be able to use your browser to modify your bookmarks</p>
<h5>Clear your account</h5>
<p>Remove your bookmarks and account names from the servers of this website, if you need them, please note that save them locally</p>
<h5>Upload a file</h5>
<p>You can use this feature when you want to upload an existing (exported) bookmark from your browser and turn it into an online bookmark. Note that "will overwrite existing bookmarks" instead of adding them to existing bookmarks. Or when the server crashes, resulting in an inability to upload, only in the PC browser, you can save the bookmark to the local, it takes 2-3 minutes, waiting for subsequent uploads.</p>
<h4>Forget your password</h4>
<p><a href="/password.html">click here</a></p>
<h4>Site icons are not visible or do not match the actual</h4>
<p>This website obtains icons (favicon.ico) directly from the corresponding website and will be replaced or not visible if the website is not available or inaccessible</p>
</div>
</body>
</html>