<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>webbookmark-help</title>
<style>
p{display:none;}
</style>
<script>
	function get_default_lang(){
		let la=navigator.language||navigator.userLanguage;
		la=la.substr(0, 2);
		if(la == 'zh'){
			lang='zh';
	      }else{
			lang='en';
	      }
		let e=document.getElementsByClassName(la)[0];
		e.style.display="flex";
	}
	window.onload=get_default_lang;
</script>
</head>
<body>
<p class='en'></p>
<h4><tag class='en'></tag><tag class='zh'>用法</tag></h4>
<p class='zh'>
<h5>添加、修改、删除书签或文件夹</h5>
<p>在对应的书签图标或文件夹名称上用鼠标点击，弹出快捷菜单，选择对应的操作</p>
<h5>访问对应的书签</h5>
<p>将鼠标移动到想要访问的网址上，按下鼠标滑轮，网页将在新的标签页中打开</p>
</p>
<h4><tag class='en'></tag><tag class='zh'>名词释义</tag></h4>
<p class='zh'>
<h5>同步至服务器</h5>
<p>将修改后的书签同步到服务器，这样更新的内容可以保留，下次访问的时候可以访问更新后的内容，若改变书签后不进行同步，新的内容将丢失</p>
<h5>退出 </h5>
<p>退出登录，你若需要再次访问该页面，需要重新登录;同时他人也无法使用您的浏览器对您的书签进行修改</p>
<h5>清除账户</h5>
<p>将您的书签及账户名从本网站服务器中删除，如果您需要这些书签，请注意先保存到本地</p>
<h5>上传文件</h5>
<p>当您想把自己已有的(从浏览器中导出的)书签上传，变成在线书签时，可以使用此功能。注意"将覆盖已有的书签",而不是将其添加到已有的书签中。或者当本服务器崩溃，导致无法上传时，仅限在PC端的浏览器，您可以保存书签到本地，需2-3分钟，等待后续上传。</p>
<h5>忘记密码</h5>
<p><a href="/password.html">请点击这里</a></p>
</p>
</body>
</html>