<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta content="bookmark,share,online,free，anonymous，cross platform" name="keywords"> 
<meta content="online bookmark for share with the public" name="description">
<title>webbookmark</title>
<style type="text/css">
html,body{height: 100%;display: flex;justify-content: space-around;flex-direction: column;}
li{margin: 1ex 0;}
a{ text-decoration:none}
#slg_log{
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content: space-around;
align-items:start;
}
#log {
	width:max-content;
	background: #eeeeff;
}
#form{
display:flex;
flex-direction:column;
flex-wrap:wrap;
justify-content: space-around;
align-items:start;
}

#form > *{margin:1ex;}

footer{
	display: flex;
	justify-content: space-evenly;
}
#slg{
display:inline-block;
width:max-content;
}
h3,h5{text-align:center;}
#tips{display:none;}
#errmsg {
	margin: 0;
}
.ntc{
color:green;
font-size:small;
margin:0;
}
#cfm>*{display:block;margin:1ex 0;}
label{font-size:large;}
</style>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
	var submited=true; //是否为提交，用于显示错误信息
	const u_err='username';
	const p_err='password';
	const fdbck_err='username or password is wrong or dosen\'t exist,modify it';
	const svr_err='server internal error,please email to 1575658778@qq.com';
	const ip_err='five times failure with this ip,please try again after 24 hours';
	const len_err=' chars are less than 5 or more than 12';
	const rpt_err='this username already exists.Please change another name.';
	const consistency_err=' two passwords entered are inconsistent,please enter again.';
	
	var regs=/[^A-Za-z_0-9]/;
	var regp=/^(?=.*[A-Za-z])(?=.*\d).+/;
	
	window.onload=function(){	
		$(":input").change(function(){$("#errmsg").text('');});	
		
		$("input[name='way']").click(function() {
			var w = $(this).val();
			if (w == 'l') {
				$("#cfm").hide();
				$("#tips").hide();
				$("#form a").show();
			} else {
				$("#tips").show();
				$("#cfm").show();
				$("#form a").hide();
			}
		})
		
		$("#cfm").hide();
		$("#tips").hide();
		
	}
	function Up() {
		submited=true;
		let up_url='http://127.0.0.1:8000/user/login'; 
		var formData = new FormData(document.getElementById("form"));
		
		let user=$("input[name='username']").val();
		if(user.length<5 ||user.length>12){
			$("#errmsg").text(u_err+len_err);
			return;
		}
		let pwd=$("input[name='pwd']").val();
		if(pwd.length<5 ||pwd.length>12){
			$("#errmsg").text(p_err+len_err);
			return;
		}
		if(!regp.test(pwd)||!regs.test(pwd)){
			$("#errmsg").text(fdbck_err);
			return;
		}
		let w=$('#form input:radio[name="way"]:checked').val(); 
		if(w=='r'){
			let pwd2=$("input[name='pwd2']").val();
			up_url='http://127.0.0.1:8000/user/reg';
			if(pwd!=pwd2){
				$("#errmsg").text(consistency_err);
				$("input[name='pwd']").val('');
				$("input[name='pwd2']").val('');
				return;
			}
		}
		$.ajax({
			url : up_url,
			type : 'post',
			data : formData,
			cache : false,
			processData : false,
			contentType : false,
			async : true,
		}).done(function(res) {
			
			/* U_P_ERR='0' # 用户名或密码错误
			* SUCCESS='1' # 登录成功
			* IP_FORBID='2' # 错误失败次数过多，禁止访问
			* SVR_ERR='3' # 服务器内部故障
			* U_RPT_ERR='4' # 用户名重复
			*/
			switch(res){
			case 0:
				$("#errmsg").text(fdbck_err);
				break;
			case 1:
				return false;
			case 2:
				$("#errmsg").text(ip_err);
				break;
			case 3:
				$("#errmsg").text(svr_err);
				break;
			case 4:
				$("#errmsg").text(rpt_err);
				$("input[name='username']").val('');
				break;
			default:
				location.href="/owner.html?"+res;
			}
		}).fail(function(res) {
			$("#errmsg").text(svr_err);
		});
	};
</script>
</head>
<body>
	<h3>For every kind of message, there is a way to display.</h3>
<div id='slg_log'>
	<div id="slg">
	<h5>Feature</h5>
	<ol>
		<li>Quickly share links to your collected content to others</li>
		<li>Only web browser, no dependence on any vendor, platform, plug-in</li>
		<li>Easy to operate, no need to learn</li>
		<li>Open, shared, suitable for content that needs to be shared and promoted</li>
		<li>Support for uploading existing bookmarks</li>
		<li>connectionless, username can be random letters. If not provided in your own bookmark page, no one can contact</li>
	</ol>
	</div>
	<div id="log">
		<form id="form" ENCTYPE="multipart/form-data" method="post" onsubmit="return false">
			<div id='rd'>
				<input type="radio" name="way" value="l" checked required>login
				<input type="radio" name="way" value="r" required>sign up
			</div>
			<label >username</label> 
			<input type="text" name="username" value="" required maxlength=12>
			<div id="tips">
			<p class="ntc">5 to 12 characters</p>
			</div>
			<label >password</label> 
			<input type="password" name="pwd" value="" required maxlength=12>
			<div id="cfm">
			<p class="ntc">5 to 12 characters (at least an alphabet,number and special char)</p>
				<label>Enter password again to confirm</label>
				<input type="password" name="pwd2" value="">
			</div>
			<h3 id="errmsg" style="color: red"></h3>
			<button onclick="Up()">submit</button>
			<a href="/password.html">forget password</a>
		</form>
	</div>
</div>
<footer><a href="/about.html">About</a><a href="/partner.html">Help Needed!</a></footer>
</body>
</html>