<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>webbookmark-owner</title>
<style type="text/css">
img {
	display:inline;
	height:1em;
	width:1em;
}
body {font-family:Verdana,Lucida,Arial,Helvetica,"宋体",sans-serif;}
#foldermenu, #itemmenu {
	display: None;
	width: max-content;
	position: fixed;
	color: black;
	background-color: #E0E0E0;
	opacity: 1.0;
	z-index: 1;
	font-size:small;
}
#header {
	top: 0; 
	left: 0;
	position: fixed;
	display:inline;
	width:100%;
}
#padder {
	z-index:-99;
	visibility:hidden;
}

#mod,#upf {
	display: none;
	height: 100%;
	width: 100%;
	top: 0; 
	left: 0;
	opacity: 0.9;
	background-color: yellow;
	position: fixed;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}
h5{margin:0; padding:0;}
li,ul{list-style:none;}
#cntn{display:flex;flex-direction:row; flex-wrap:wrap; justify-content:space-between;}
#shrinfo {background-color: lightcyan;margin: 0;}
#ifm{ width:100%;}
</style>

<!--  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
-->

<script src="/jQuery2.1.4.js"></script>

<script>
	var matchHtmlRegExp = /["'&<>]/
		function escapeHtml (string) {
		  var str = '' + string
		  var match = matchHtmlRegExp.exec(str)

		  if (!match) {
		    return str
		  }

		  var escape
		  var html = ''
		  var index = 0
		  var lastIndex = 0

		  for (index = match.index; index < str.length; index++) {
		    switch (str.charCodeAt(index)) {
		      case 34: // "
		        escape = '&quot;'
		        break
		      case 38: // &
		        escape = '&amp;'
		        break
		      case 39: // '
		        escape = '&#39;'
		        break
		      case 60: // <
		        escape = '&lt;'
		        break
		      case 62: // >
		        escape = '&gt;'
		        break
		      default:
		        continue
		    }

		    if (lastIndex !== index) {
		      html += str.substring(lastIndex, index)
		    }

		    lastIndex = index + 1
		    html += escape
		  }

		  return lastIndex !== index
		    ? html + str.substring(lastIndex, index)
		    : html
		}
	
	function valid_url(str){
		let r=new RegExp("^[A-Za-z]+://[A-Za-z0-9-_]+\.[A-Za-z0-9-_%&?/.=]+$");
		return r.test(str);
	}
	
	var old_name = '', old_url = '', new_name = '', new_url = '',
	src, // 用户书签的地址
	lang, // 使用的语言
	mod, // 遮罩层
	modi,// 待修改的文件夹或书签 原始的事件对象
	chd = false, // 内容是否变更，且未保存
	add = false, // 是否为新增
	add_folder = true,// 新建的内容类型 true folder:false item
	ifm, // 内容窗格
	mn, // 菜单
	menue, // 菜单是否存在
	menuh, // 菜单的事件handle
	shron=false, // 分享URL是否已显示
	rm_notified=false,
	used_id=[],
	chg_rcd=[]; // 记录变化的内容
	xmlhttp=new XMLHttpRequest();
	
	const shr_base="http:127.0.0.1/vistor?";
	const up_max=65536; //最多字符数 2**16
	const up_len_err=new Map([['zh','最多允许65536个字符(2^16),请删除不必要的书签或使用简短的名称，如有其他事情，可先保存至本地'],
		['en','at most 65536(2^16) chars are allowed,remove unnecessary bookmarks or use shorter name.If in a hurry,save the page locally.']]);
	const url_err=new Map([['zh','网址为空或包含不允许的字符或格式错误，请修改'],['en','url is blank or contains illegal chars & fomart']]);
	const svr_err=new Map([['zh','服务器内部故障，请发送邮件至1575658778@qq.com'],['en','server internal error,please email to 1575658778@qq.com']]);
	const name_err=new Map([['zh','名称为空，请输入名称'],['en','name is blank']]);
	const success=new Map([['zh','上传成功'],['en','Upload finished']]);
	const saved_err=new Map([['zh','文件未保存，请先保存，若要放弃保存直接关闭页面'],['en','File is not saved,please save it at first.If you don\'t want to save,close Tab-page directly.']]);
	const fmt_err=new Map([['zh','上传文件格式错误，请修改后上传'],['en','Format of uploaded file is not correct,modify and upload again']]);
	const upf_ntc=new Map([['zh','文件上传中，若成功将更新页面，失败后会提示您'],['en','file is uploading. If succeed,page will be freshed; otherwise,notice will be shown.']]);
	const rm_ntc=new Map([['zh','账户的内容将被清空，建议您保留一份内容到本地，点击取消后，可以保存文件至本地，再次点击"清除账户"，完成清除'],
		['en','All content of this account will be removed, save the webpage locally might be proper, click the "Close Account" again to finish it.']]);
	const root=new Map([['zh','<ul><h5>根文件夹</h5></ul>'],['en','<ul><h5>root folder</h5></ul>']])
	const shr_url_err=new Map([['zh','书签正在上传或地址错误，无法分享'],['en','Bookmark is uploading or with wrong address, can not be shared.']]);
	//const url_err=new Map([['zh',''],['en','']]);
	
	function UploadFile(){
		let uf=document.getElementById("upf");
		uf.style.display='flex';
	}
	
	function cnlupf(){
		$("#errmsgf").html('');
		let uf=document.getElementById("upf");
		uf.style.display='none';
	}
	
	function hupf(){
		let formData=new FormData($("#fm")[0]);
		setTimeout(cnlupf,3*1000);
		$("#shr").html(shr_url_err.get(lang));
		chd=false;
		  $.ajax({
			url: '/user/fu',
			type: 'post',
			data: formData,
			cache: false,
			processData: false,
			contentType: false,
			async: true,
		  }).done(function (res) {
			  switch(res){
				case 5:
					showinfo(up_len_err.get(lang));
					break;
				case 6:
					showinfo(root_count_err.get(lang));
					break;
				case 7:
					showinfo(fmt_err.get(lang));
					break;
				default:
					$.ajax({
						url : 'http://127.0.0.1:8000/c/'+res, 
						type : 'get',
						cache : false,
						processData : false,
						contentType : false,
						async : true,
						success:function(xhr, status, error) {
							ifm.innerHTML=	xhr;
							addimg("#ifm li");
							rm_a("#ifm li");
							$("#shr").html(shr_base+src);
						},
						error:function(res){ showinfo(svr_err.get(lang));}
					});    
				break;}
		  }).fail(function (res) {
			showinfo(svr_err.get(lang));
		  });
	}
	
	function showinfo(txt){
		$(mod).css({'display':"flex"});
		$(mod).children("div").hide();
		$(mod).find("#cnfm").hide();
		$("#errmsg").html(txt);
		$("#errmsg").show();
	}

	function get_default_lang(){
		let la=navigator.language||navigator.userLanguage;
		la=la.substr(0, 2);
		lang='zh';
		if(la != 'zh'){
			lang='en';
		}
	}

	function sendtobackground() {
		if(chd){
		let up=$("#ifm").clone();
		$(up).find("img").remove();
		$(up).find("a").removeAttr("target");
		up=$(up).html();
		if(up.lengh>up_max){
			showinfo(up_len_err.get(lang));
		}
		$("#shr").html(shr_url_err.get(lang));
		up= JSON.stringify(up);
		$.ajax({
			url : 'http://127.0.0.1:8000/user/cu', 
			type : 'post',
			data :up,
			cache : false,
			processData : false,
			contentType : false,
			async : true,
		}).done(function(xhr, status, error) {
/*
U_P_ERR='0' # 用户名或密码错误
SUCCESS='1' # 登录成功
IP_FORBID='2' # 错误失败次数过多，禁止访问
SVR_ERR='3' # 服务器内部故障
U_RPT_ERR='4' # 用户名重复
LEN_ERR='5' # 内容超出允许的最大长度
CNT_ROOT_ERR='6' # 出现多于一个根
FORMAT_ERR='7' # 上传文件格式错误
*/	
			switch(xhr){
			case 1:
				showinfo(success.get(lang));
				$("#shr").html(shr_base+src);
				chd=false;
				break;
			case 5:
				showinfo(up_len_err.get(lang));
				break;
			case 7:
				showinfo(fmt_err.get(lang));
				break;
			default:
				showinfo(xhr);
				break;
			}
		}).fail(function(xhr, status, error) {
			showinfo(svr_err.get(lang));
		});
		}
	}
	
	function rm_a(ele){
		$(ele).attr({target:"_blank"});
	}
	
	function ck_st(){
		if(xmlhttp.readyState==4){
			if(xmlhttp.status==200){
			ifm.innerHTML=	xmlhttp.responseText;
			addimg("#ifm li");
			rm_a("#ifm li");
			$("#shr").html(shr_base+src);
			}else if(xmlhttp.status==304){
				$("#shr").html(shr_base+src);
			} else{
				ifm.innerHTML=root.get(lang);
				$("#shr").html(shr_url_err.get(lang));
			}
		}
	}	
	
	function ck_v(n){
		let cki=document.cookie;
		let cki_a=cki.split(":");
		let cki_p;
		for(let i=0;i<cki_a.length;i++){
		cki_p=cki_a[i].split("=");
		if(cki_p[0]==n){
			return cki_p[1];
		}
		}
		return null;
	}
	
	function ck_lang() {
			let e2;
			let e = window.event.target;
			if(e.nodeName=='DIV'){return;}
			e.style.color='white';
			e.style.background='black';
			lang = e.getAttribute('id');
			switch (lang) {
			case 'zh':
				e2=document.getElementById("en");	
				$(".en").hide();
				$(".zh").show();
				break;
			case 'en':
				e2=document.getElementById("zh");	
				$(".zh").hide();
				$(".en").show();
				break;
			}
			e2.style.color='black';
			e2.style.background='white';
		}
	
	function ck(e){
		if(chd)
			{
			e.preventDefault();
			e.returnValue = '修改未提交;moidfication is not saved';
			}
	}
	
	function shrtgl(){
		$("#shrinfo").toggle();
		if(shron){
			$("span.shroff").show();
			$("span.shron").hide();
			shron=false;
		}else{
			$("span.shron").show();
			$("span.shroff").hide();
			shron=true;
		}
	}
	window.addEventListener("beforeunload",ck); 
	window.onload=function (){
		src=location.search.substring(1);
		let src_len=src.length;
		let v=ck_v('login');
		let v_len=v.length;
		if(!src_len || !v_len || src.substr(0,v_len)!=v) {
			location.href='index.html';
			return;
			}
		$("#mod input").each(function(i,e){$(e).focus(function(){$("#errmsg").text=""})})
		mod = document.getElementById("mod");
		
		ifm=document.getElementById("ifm");
		ifm.onclick=menu;
		
		// 选择语言
		var lgc=document.getElementById("lg");	
		lgc.onclick=ck_lang;
		get_default_lang();
		document.getElementById(lang).click();
		
		// 导入自己的书签
		xmlhttp.onreadystatechange=ck_st;
		xmlhttp.open("GET",'/c/'+ src,true);
		xmlhttp.send();
		
		// 显示
		$("#shrinfo").hide();
		$("span.shroff").show();
		$("span.shron").hide();
		// 记录已使用的id
		used_id=get_used_id();
	}
	
	// 菜单处理
	function displaymenu(e) {
		if (!menue) {
			$(e).show(100, 'linear');
			menue= false;
			menuh = setTimeout(function() {
				let m = $(e);
				menuNotExist = true;
				m.hide();
			}, 5 * 1000);
		}
	};

	function menu(e) {
		modi = e.target.parentElement;
		e.preventDefault();
		if (e.target.nodeName == "H5") {
			mn = $("#foldermenu");
		} else if (e.target.nodeName == "IMG") {
			mn = $("#itemmenu");
		} else if(e.target.nodeName == "A"){
			window.open($(e.target).attr("href"), '_blank').location;	
		} else {
			return null;
		}
		let x = e.clientX;
		let y = e.clientY;
		mn.css("left", x + 'px');
		mn.css('top', y + 'px');
		displaymenu(mn);
	}
	
	function hidemenu(){
		menue=false;
		window.clearTimeout(menuh);
		$(mn).hide();
	}

	// 处理图像
	function imgerr(e){
		let im=e.srcElement;
		e.src="global.svg";
		e.onerror=null;
	}
	
	function get_base(src){
		let i=src.indexOf("//");
		if(i==-1){
			i=0;
		 }else{
			i=i+3;
		 }
		 i=src.indexOf("/",i);
		 if(i==-1){
			 src=src+'/';
		 }else{
			src=src.substring(0,i+1);
		}
		return src;
	}

	function addimg(e){
		$(e).each(function(n,ee){
		let src=$(ee).find("a").attr("href");
		src=get_base(src);
		 $(ee).prepend("<img src='" +src+ "favicon.ico'"+
				 "onerror=\"imgerr(this);\"/>");
		})
	}
	
	// 显示新增
	function dadd(e) {
		hidemenu();
		mod.style.display = "flex";
		old_name = old_url = '';
		add = true;
		$("#url").val(old_url);
		$("#name").val(old_name);
		if (e.getAttribute("id") == "makefolder") {
			$("#urlm").hide();
			add_folder = true;
		} else {
			$("#urlm").show();
			add_folder = false;
		}
	}
	// 显示修改
	function dmod(e) {
		hidemenu();
		add=false;
		let i;
		mod.style.display = "flex";
		if (modi.tagName == "LI") {
			i = $(modi).children("a")[0];
			old_url = $(i).attr("href");
			$("#url").val(old_url);
		} else {
			i = $(modi).children("h5")[0];
			$("#urlm").hide();
			old_url=new_url='';
		}
			old_name = $(i).text();
			$("#name").val(old_name);
	}
	// 取消
	function cnl(){
		mod.style.display = "none";
	}
	// 完成
	function hmod() {
		let p_id=modi.id;
		let id=0;
		mod.style.display = "none";
		new_name = $("#name").val();
		if(!new_name){
			$("#errmsg").text=name_err.get(lang);
			return null;
		}
		new_name=escapeHtml(new_name);
		if (add) {
			if (add_folder) {
				id=get_avaliable_id();
				used_id.splice(id[0],0,id[1]);
				$(modi).append("<ul id='"+id[1].toString()+"'"+" ><h5>" + new_name + "</h5></ul>");
				chg_rcd.push([id[1],4,new_name,'',p_id])
			} else {
				new_url = $("#url").val();
				if(!new_url||!valid_url(new_url)) {
					$("#errmsg").text=url_err.get(lang);
					return null;
				}
				id=get_avaliable_id();
				used_id.splice(id[0],0,id[1]);
				chg_rcd.push([id[1],1,new_name,new_url,p_id])
				$(modi).append(
						"<li id='"+id[1].toString()+"'"+" ><a href=\""+new_url+"\">" + new_name + "</a></li>");
				let l=$(modi).find("li:last");
				addimg(l);
				rm_a(l);
			}
				chd = true;
		} else {
			if (new_name != old_name || new_url != old_url) {
				let i,id=0,kind=2;
				if(old_url){
					new_url = $("#url").val();
					if(!new_url||!valid_url(new_url)) {
						$("#errmsg").text=url_err.get(lang);
						return null;
					}
					i = $(modi).children("a")[0];
					$(i).attr({href:new_url});
					id=modi.parentElement.id;
					if(new_url!=old_url){
						let sr=new_url;
						sr=get_base(sr);
						$(modi).find("img").attr({src:sr});
					}else{
						new_url='';
					}
				}else{
					kind=5;
					id=modi.parentElement.id;
					i = $(modi).children("h5")[0];
				}
				$(i).text(new_name);
				if(new_name==old_name){new_name='';}
				chg_rcd.push([id,kind,new_name,new_url]);
				chd = true;
			}
		}
	}
	// 折叠文件夹
	function cps(event) {
		hidemenu();
		$(modi).children("li").hide();
		$(modi).children("ul").hide();
	}
	// 展开文件夹
	function xpd(event) {
		hidemenu();
		$(modi).children("li").show();
		$(modi).children("ul").show();
	}
	// 删除文件夹或子书签
	function del(event) {
		let id=0,kind=3;
		id=modi.parentElement.id;
		if(modi.parentElement.nodeName=="UL"){kind=6;}
		chg_rcd.push([id,kind,'','']);
		hidemenu();
		$(modi).remove();
		chd=true;
	}
	// 登出
	function logout(){
		if(chd){
			sendbacktoground();
			if(chd){
				return;
			}
		}
		$.ajax({
			url : 'http://127.0.0.1:8000/user/logout', 
			type : 'post',
			cache : false,
			processData : false,
			contentType : false,
			async : true,
		}).done(function(xhr, status, error) {
			location.href='/index.html';
	}).fail(function(){
			let msg=svr_err.get(lang);
			if(chd){
				msg=msg+';'+saved_err.get(lang);
			}
			showinfo(msg);
			}
			)
	}
		
	//清除账户
	function rmv(){
		if(!rm_notified){
			rm_notified=true;
			showinfo(rm_ntc.get(lang));
			return;
		}else{
			$.ajax({
				url : 'http://127.0.0.1:8000/user/del', 
				type : 'post',
				cache : false,
				processData : false,
				contentType : false,
				async : true,
			}).done(function(data,st,xhr) {
				if(xhr.readyState==4&&(xhr.status==200||xhr.status==302)){
				location.href='/index.html';}
			}).fail(function(){
				showinfo(svr_err.get(lang));
				})
		}	
	}
	
	// 打开帮助页面
	function hlp(){
		window.open("/help.html", '_blank').location;	
	}
	
	// 获取已使用的id
	function get_used_id(){
		let all_id=[];
		let ul_e=document.getElementsByTagName("ul");
		let li_e=document.getElementsByTagName("li");
		
		for(let e in ul_e){
			all_id.push(e.id);			
		}
		for(let e in li_e){
			all_id.push(e.id);			
		}
		all_id.sort();
		return all_id; 
	}
	
	function get_avaliable_id(){
		let u_id_l=used_id.length;
		if(u_id_l>1){
			u_id_l=u_id_l-1;
			let i=0;
			while(i<u_id_l){
				if(used_id[i+1]-used_id[i]==1){
					i=i+1;
				}else{
					return [i+1,used_id[i]+1];
				}
			}
		}else if(u_id_l){
			return [1,used_id[0]+1];
		}else{
			return [0,1];
		}
		return [u_id_l,used_id[u_id_l-1]+1];
	}
	function remove_used_id(rm_id){
		let idx=0;
		for(let i in rm_id){
			idx=used_id.indexOf(i,idx);
			if(idx!=-1){usd_id.splice(idx,1);}
		}
	} 
</script>
</head>

<body>
<div id="header">
<div id="cntn">
	<div id="lg">
			<button id="en">English</button>
			<button id="zh">中文</button>
	</div>
	<div id="ctr">
	<button onclick="sendtobackground();"><span class='zh'>同步至服务器</span><span class='en'>Sync to Server</span></button>
	<button onclick="UploadFile();"><span class='zh'>上传文件</span><span class='en'>Upload File</span></button>
	<button onclick="logout();"><span class='zh'>退出</span><span class='en'>Log Out</span></button>
	<button onclick="hlp();"><span class='zh'>帮助</span><span class='en'>Help</span></button>
	<button onclick="shrtgl();"><span class='zh'><span class='shroff'>显示</span><span class='shron'>隐藏</span>分享链接</span><span class='en'><span class='shroff'>Display</span><span class='shron'>Hide</span> share URL</span></button>
	<button onclick="rmv();"><span class='zh'>清除账户</span><span class='en'>Remove Account</span></button>
	</div>
</div>
	
</div>
<div id="padder">
<!-- 用于空出header的高度 -->
<button ></button>
</div>
<div id='shrinfo'>
	<label><span class="zh">用于分享的网址:</span><span class="en">URL for share:</span></label>
	<p id="shr"></p>
	<p><span class="zh">此链接与用户名绑定，不会因内容变化而变化</span><span class="en">This URL is associated with your username, won't change with modification of contents.</span>
	<a href=""><span class="zh">转换为二维码</span><span class="en">make QR code</span></a>
</div>
	<div id="ifm" ></div>
	<div id="upf">
		<form id="fm" onsubmit="return false;" enctype="multipart/form-data">
		<label><span class='zh'>文件地址</span></label><span class='en'>File Address</span> <input type="file" name='upfile' required="required">
		<p id="errmsgf"></p>
		<button onclick="cnlupf()"><span class='zh'>取消</span><span class='en'>Cancel</span></button>
		<button onclick="hupf()"><span class='zh'>上传</span><span class='en'>upload</span></button>
		</form>
	</div>
	<div id='mod'>
		<div>
		<label><span class='zh'>名称</span></label><span class='en'>name</span> <input id="name" type="text" value="" required="required">
		</div>
		<div id="urlm">
			<label><span class='zh'>网址</span><span class='en'>URL</span></label> <input id="url" type="url" value="" required="required">
		</div>
		<p id="errmsg" style="color: red"><p>
		<button id='cnlb' onclick="cnl()"><span class='zh'>取消</span><span class='en'>Cancel</span></button>
		<button id='cnfm' onclick="hmod()"><span class='zh'>已完成</span><span class='en'>OK</span></button>
	</div>

	<div id="foldermenu">
		<div id="makefolder" onclick="dadd(this);"><span class='zh'>新建子文件夹</span><span class='en'>new subfolder</span></div>
		<div id="makeitem" onclick="dadd(this);"><span class='zh'>新建子书签</span><span class='en'>new bookmark</span></div>
		<div id="deletefolder" onclick="del(this);"><span class='zh'>删除此文件夹</span><span class='en'>delete folder</span></div>
		<div id="modifyfolder" onclick="dmod(this);"><span class='zh'>修改文件夹名称</span><span class='en'>modify folder name</span></div>
		<div id="expandfolder" onclick="xpd(this);"><span class='zh'>展开文件夹</span><span class='en'>expand</span></div>
		<div id="collapsefolder" onclick="cps(this);"><span class='zh'>折叠文件夹</span><span class='en'>collapse</span></div>
	</div>

	<div id="itemmenu">
		<div id="delitm" onclick="del(this);"><span class='zh'>删除此项</span><span class='en'>remove</span></div>
		<div id="moditm" onclick="dmod(this);"><span class='zh'>修改此项</span><span class='en'>modify</span></div>
	</div>
</body>
</html>