<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta content="bookmark,share,online,free，anonymous，cross platform" name="keywords"> 
<meta content="online bookmark for share with the public" name="description">
<title>webbookmark-owner</title>
<style type="text/css">
a{ text-decoration:none}
img {
	display:inline;
	height:1em;
	width:1em;
}
body {font-family:Verdana,Lucida,Arial,Helvetica,"宋体",sans-serif;}
#foldermenu, #itemmenu,#locknotice {
	display: None;
	width: max-content;
	position: fixed;
	color: black;
	background-color: #E0E0E0;
	opacity: 1.0;
	z-index: 1;
	font-size:small;
}
#header {
	top: 0; 
	left: 0;
	position: fixed;
	display:inline;
	width:100%;
}
#padder {
	z-index:-99;
	visibility:hidden;
}

#mod,#upf,#feedback {
	display: none;
	height: 100%;
	width: 100%;
	top: 0; 
	left: 0;
	opacity: 0.9;
	background-color: yellow;
	position: fixed;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}
h5{margin:0; padding:0;}
li,ul{list-style:none;}
#cntn{display:flex;flex-direction:row; flex-wrap:wrap; justify-content:right;}
#msgfbk{display:flex;flex-direction:row; flex-wrap:wrap; justify-content:center;}
#shrinfo {background-color: lightcyan;margin: 0;}
#ifm{ width:100%;}
#locknotice{max-width:24em;}

table{
	 border-style: solid none;
	 border-width: 2px;
	 border-collapse: collapse;
	}
td {
	border-width: 1px;
	border-style: solid none;
	text-align:center;
	}
</style>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
	var matchHtmlRegExp = /["'&<>]/
	var r=new RegExp("^[A-Za-z]+://[A-Za-z0-9-_]+\.[A-Za-z0-9-_%&?#/.=]+$");
	
function escapeHtml (string) {
	  var str = '' + string
	  var match = matchHtmlRegExp.exec(str)

	  if (!match) {
		return str
	  }

	  var escape
	  var html = ''
	  var index = 0
	  var lastIndex = 0

	  for (index = match.index; index < str.length; index++) {
		switch (str.charCodeAt(index)) {
		  case 34: // "
			escape = '&quot;'
			break
		  case 38: // &
			escape = '&amp;'
			break
		  case 39: // '
			escape = '&#39;'
			break
		  case 60: // <
			escape = '&lt;'
			break
		  case 62: // >
			escape = '&gt;'
			break
		  default:
			continue
		}

		if (lastIndex !== index) {
		  html += str.substring(lastIndex, index)
		}

		lastIndex = index + 1
		html += escape
	  }

	  return lastIndex !== index
		? html + str.substring(lastIndex, index)
		: html
	}
	
	function valid_url(str){
		return r.test(str);
	}
	
	var old_name = '', old_url = '', new_name = '', new_url = '',
	src, // 用户书签的地址
	lang, // 使用的语言
	mod, // 遮罩层
	modi,// 待修改的文件夹或书签 原始的事件对象
	chd = false, // 内容是否变更，且未保存
	add = false, // 是否为新增
	add_folder = true,// 新建的内容类型 true folder:false item
	ifm, // 内容窗格
	mn, // 菜单
	menue=false, // 菜单是否存在
	menuh, // 菜单的事件handle
	shron=false, // 分享URL是否已显示
	rm_notified=false, // 是否已提醒删除账户的风险
	locked=false, // 是否正在上传
	used_id=[], // 已使用的id
	w_close=false, // 等待关闭
	force_sendback=false, // 强制传输到后台
	chg_rcd=[]; // 记录变化的内容
	
	xmlhttp=new XMLHttpRequest();
	
	const batch=10;
	const shr_base="http://127.0.0.1/visitor.html?";
	const up_max=65536; //最多字符数 2**16
	const up_len_err='at most 65536(2^16) chars are allowed,remove unnecessary bookmarks or use shorter name.If in a hurry,save the page locally.';
	const up_len_ntc='Uploaded chars exceed limit,However it will be saved if there is no wrong operation.You must remove some bookmarks to get space,otherwise,no further change can be made.';
	const url_err='url is blank or contains illegal chars & fomart';
	const svr_err='server internal error,all updated content may be lost. With computer, you can save those bookmark locally and steps are in "help" page;for other devices,there is no remedy. Please email to 1575658778@qq.com for repair.';
	const name_err='name is blank';
	const success='Upload finished';
	const saved_err='File is not saved,please save it at first.If you don\'t want to save,close Tab-page directly.';
	const fmt_err='Format of uploaded file is not correct,modify and upload again';
	const upf_ntc='file is uploading. If succeed,page will be freshed; otherwise,notice will be shown.';
	const rm_ntc='All content of this account will be removed, save the webpage locally might be proper, click the "Close Account" again to finish it.';
	const root='<ul id="1"><h5>root folder</h5></ul>';
	const root_err='For root directory,name can be modified but can\'t be deleted.';
	const shr_url_err='Bookmark is uploading or with wrong address, can not be shared.';
	const itmf_err='The following items fail to update:';
	action_err=new Map([[1,'add link'],[2,'modify link'],[3,'delete link'],[4,'add folder'],[5,'modify folder'],[6,'delete folder']]);
	
	function sortNumber(a,b) 
	{ 
	return a - b 
	} 
	
	/*
	 * 移除未使用的ID
	 */
	function remove_used_id(rm_id){
		let idx=0;
		let rm=new Array();
		if(typeof rm_id =="number"){rm.push(rm_id);}else{rm=rm_id;}
		rm.sort(sortNumber);
		for(let i of rm){
			idx=used_id.indexOf(i,idx);
			if(idx!=-1){used_id.splice(idx,1);}else{idx=0;}
		}
	} 
	
	// 获取已使用的id
	function get_used_id(){
		let all_id=[];
		let ul_e=document.getElementsByTagName("ul");
		let li_e=document.getElementsByTagName("li");
		
		for(let e of ul_e){
			all_id.push(parseInt(e.id));			
		}
		for(let e of li_e){
			all_id.push(parseInt(e.id));			
		}
		all_id.sort(sortNumber);
		return all_id; 
	}
	
	function get_avaliable_id(){
		let u_id_l=used_id.length;
		if(u_id_l>1){
			u_id_l=u_id_l-1;
			let i=0;
			while(i<u_id_l){
				if(used_id[i+1]-used_id[i]==1){
					i=i+1;
				}else{
					return [i+1,used_id[i]+1];
				}
			}
		}else if(u_id_l){
			return [1,used_id[0]+1];
		}else{
			return [0,1];
		}
		return [u_id_l+1,used_id[u_id_l]+1];
	}

	function UploadFile(){
		if(locked){return null;}
		let uf=document.getElementById("upf");
		uf.style.display='flex';
		$("#clsf").hide();
		$("#cnlupf").show();
		$("#hupf").show();
	}
	
	function cnl_upf(){
		$("#errmsgf").html('');
		let uf=document.getElementById("upf");
		uf.style.display='none';
	}
	function cls_f(){cnl_upf();}
	
	function h_upf(){
		let formData=new FormData($("#fm")[0]);
		let ok=false;
		$("#cnlupf").hide();
		$("#hupf").hide();
		$("#errmsgf").html(upf_ntc);
		  $.ajax({
			url: '/user/fu',
			type: 'post',
			data: formData,
			cache: false,
			processData: false,
			contentType: false,
			async: true,
		  }).done(function (res) {
			  switch(res){
				case 5:
					$("#errmsgf").html(up_len_err);
					break;
				case 6:
					$("#errmsgf").html(root_count_err);
					break;
				case 7:
					$("#errmsgf").html(fmt_err);
					break;
				default:
					$.ajax({
						url : 'http://127.0.0.1:8000/c/'+res, 
						type : 'get',
						cache : false,
						processData : false,
						contentType : false,
						async : true,
						success:function(xhr, status, error) {
							ifm.innerHTML=xhr;
							addimg("#ifm li");
							rm_a("#ifm li");
							$("#shr").html(shr_base+src);
							ok=true;
							$("#upf").hide();
							chg_rcd=[];
							chd=false;
							locked=false;
							used_id=get_used_id();
						},
						error:function(res){$("errmsgf").html(svr_err);}
					});
				break;}
			if(!ok){
				$("#clsf").show();
			}
		  }).fail(function (res) {
			$("#errmsgf").html(svr_err);
			$("#clsf").show();
		  });
	}
	
	function showfbk(txt){
		$("#msgfbk").html('');
		if(txt[0]!="<"){
			txt='<p>'+txt+"</p>";
		}
		$("#msgfbk").html(txt);
		$("#feedback").show();
	}
	
	function cls_fbk(){
		$("#feedback").hide();
	}

	function sendtobackground() {
		if(chd && chg_rcd.length>0&&(chg_rcd.length>=batch||w_close||force_sendback)){
			locked=true;
			let up= JSON.stringify(chg_rcd);
			
			$("upf_btn").css({'background':'red'});
			$.ajax({
				url : 'http://127.0.0.1:8000/user/pup', 
				type : 'post',
				data :up,
				cache : false,
				processData : false,
				contentType : false,
				datatype:"json",
				async : true,
			}).done(function(xhr, status, error){
				let i=0,j=0,l_xhr=0,tag_name,l_chg_rcd;
				let failure=[];
				l_xhr=xhr.length;
				l_chg_rcd=chg_rcd.length;
				if(l_xhr!=0){
					// TODO fix non-login submit
					if(typeof xhr=='string'){
						location.href='index.html';
						return;
					}
					if(xhr==5){
						failure.push("<p>"+up_len_err+"</p>");
					}
					else if(xhr==8){
						failure.push("<p>"+up_len_ntc+"</p>");
					}else{
						failure.push("<p>");
						failure.push(svr_err+itmf_err);
						failure.push("</p>");
						failure.push('<table><tbody><tr><th>Name</th><th>action</th><th>URL</th></tr>');
						for(;i<l_xhr;i++){
							j=-1;
							if(xhr[i]){
								for(i=0;i<l_chg_rcd;i++){
									if(chg_rcd[i][0]=xhr[i]){
										j=i;
										break;
									}
								}
								if(j!=-1){
									if(chg_rcd[j][1]>3){
										if(chg_rcd[j][1]==6){
											tag_name='id'+chg_rcd[j][0];
										}else{
											tag_name=chg_rcd[j][2];
										}
										failure.push("<tr><td>"+tag_name +"</td><td>"+action_err.get(chg_rcd[j][1])+"</td><td></td></tr>");
									}else {
										if(chg_rcd[j][1]==3){
											tag_name='id'+chg_rcd[j][0];
										}else{
											tag_name=chg_rcd[j][2];
										}
										let href='';
										if(chg_rcd[j].length>3){
											href=chg_rcd[j][3];
										}
										failure.push("<tr><td>"+tag_name +"</td><td>"+action_err.get(chg_rcd[j][1])+"</td><td>"+href+"</td></tr>");
									}
								}
								// TODO wait for decision delete or not.
								// remove_used_id(xhr[i]);
							}
						}
						failure.push("</tbody></table>");
					}
					showfbk(failure.join(""));
				}
			}).fail(function(xhr, status, error) {
				showfbk(svr_err);
			});
		$("upf_btn").css({'background':'#E0E0E0'});
		chg_rcd=[];
		locked=false;
		chd=false;
		force_sendback=false;
		}
	}
	
	function force_sndbk(){
		force_sendback=true;
		sendtobackground();
	}
	function rm_a(ele){
		$(ele).attr({target:"_blank"});
	}
	
	function ck_st(){
		if(xmlhttp.readyState==4){
			if(xmlhttp.status==200){
			ifm.innerHTML=	xmlhttp.responseText;
			addimg("#ifm li");
			rm_a("#ifm li");
			$("#shr").html(shr_base+src);
			// 记录已使用的id
			used_id=get_used_id();
			}else if(xmlhttp.status==304){
				$("#shr").html(shr_base+src);
			} else{
				used_id=[1];
				ifm.innerHTML=root;
				chg_rcd.push([1,4,'root folder']);
				$("#shr").html(shr_url_err);
			}
		}
	}	
	
	function ck_v(n){
		let cki=document.cookie;
		let cki_a=cki.split(";");
		let cki_p;
		for(let i=0;i<cki_a.length;i++){
		cki_p=cki_a[i].split("=");
		if(cki_p[0].trim()==n){
			return cki_p[1];
		}
		}
		return null;
	}
	
	function ck(e){
		if(chd){
			e.preventDefault();
			e.returnValue = 'moidfication is not saved';
			w_close=true;
			sendtobackground();
			}
	}
	
	function shrtgl(){
		$("#shrinfo").toggle();
		if(shron){
			$("span.shroff").show();
			$("span.shron").hide();
			shron=false;
		}else{
			$("span.shron").show();
			$("span.shroff").hide();
			shron=true;
		}
	}
	
	window.addEventListener("beforeunload",ck); 
	window.onload=function (){
		src=location.search.substring(1);
		let src_len=src.length;
		let v=ck_v('login');
		if(!v||!src_len || !v.length|| src.substr(0,v.length)!=v) {
			location.href='index.html';
			return;
			}
		$("#mod input").each(function(i,e){$(e).on('input',function(){$("#errmsg").html("");});})
		mod = document.getElementById("mod");
		
		ifm=document.getElementById("ifm");
		ifm.onclick=menu;
		
		// 导入自己的书签
		xmlhttp.onreadystatechange=ck_st;
		xmlhttp.open("GET",'/c/'+ src,true);
		xmlhttp.send();
		
		// 显示
		$("#shrinfo").hide();
		$("span.shroff").show();
		$("span.shron").hide();
		shron=false;
	}
	
	// 菜单处理
	function displaymenu(e) {
		if (!menue) {
			$(e).show(100, 'linear');
			menue= true;
			menuh = setTimeout(function() {
				let m = $(e);
				menue= false;
				m.hide();
			}, 5 * 1000);
		}
	};

	function menu(e) {
		modi = e.target.parentElement;
		e.preventDefault();
		if(e.target.nodeName == "A"){
			window.open($(e.target).attr("href"), '_blank').location;	
			return null;
		}
		if(locked){
			mn = $("#locknotice");
		}else{
			if (e.target.nodeName == "H5") {
				mn = $("#foldermenu");
			} else if (e.target.nodeName == "IMG") {
				mn = $("#itemmenu");
			} else {
				return null;
			}
		}
		let x = e.clientX;
		let y = e.clientY;
		let xx=$(mn).width();
		let yy=$(mn).height();
		displaymenu(mn);
		if(x+xx>document.documentElement.clientWidth){x=x-xx;}
		if(y+yy>document.documentElement.clientHeight){y=y-yy;}
		mn.css("left", x + 'px');
		mn.css('top', y + 'px');
	}
	
	function hidemenu(){
		menue=false;
		window.clearTimeout(menuh);
		$(mn).hide();
	}

	// 处理图像
	function imgerr(e){
		let im=e.srcElement;
		e.src="global.svg";
		e.onerror=null;
	}
	
	function get_base(src){
		let i=src.indexOf("//");
		if(i==-1){
			i=0;
		 }else{
			i=i+3;
		 }
		 i=src.indexOf("/",i);
		 if(i==-1){
			 src=src+'/';
		 }else{
			src=src.substring(0,i+1);
		}
		return src;
	}

	function addimg(e){
		$(e).each(function(n,ee){
		let src=$(ee).find("a").attr("href");
		src=get_base(src);
		$(ee).prepend("<img src='" +src+ "favicon.ico'"+ "onerror=\"imgerr(this);\"/>");
		})
	}
	
	// 显示新增
	function dadd(e) {
		hidemenu();
		mod.style.display = "flex";
		old_name = old_url = '';
		add = true;
		$("#url").val(old_url);
		$("#name").val(old_name);
		if (e.getAttribute("id") == "makefolder") {
			$("#urlm").hide();
			add_folder = true;
		} else {
			$("#urlm").show();
			add_folder = false;
		}
	}
	// 显示修改和新增遮罩层
	function dmod(e) {
		hidemenu();
		add=false;
		let i;
		mod.style.display = "flex";
		if (modi.tagName == "LI") {
			i = $(modi).children("a")[0];
			old_url = $(i).attr("href");
			$("#urlm").show();
			$("#url").val(old_url);
		} else {
			i = $(modi).children("h5")[0];
			$("#urlm").hide();
			$("#url").val('');
			old_url=new_url='';
		}
		old_name = $(i).text();
		$("#name").val(old_name);
		$("#errmsg").html("");
	}
	// 取消
	function cnl(){
		mod.style.display = "none";
	}
	// 完成
	function hmod() {
		let p_id=parseInt(modi.id);
		let id=0;
		new_name = $("#name").val();
		if(!new_name){
			$("#errmsg").html(name_err);
			return null;
		}
		new_name=escapeHtml(new_name);
		if (add) {
			if (add_folder) {
				id=get_avaliable_id();
				used_id.splice(id[0],0,id[1]);
				$(modi).append("<ul id='"+id[1].toString()+"'"+" ><h5>" + new_name + "</h5></ul>");
				chg_rcd.push([id[1],4,new_name,'',p_id]);
			} else {
				new_url = $("#url").val();
				if(!new_url||!valid_url(new_url)) {
					$("#errmsg").html(url_err);
					return null;
				}
				id=get_avaliable_id();
				used_id.splice(id[0],0,id[1]);
				chg_rcd.push([id[1],1,new_name,new_url,p_id])
				$(modi).append("<li id='"+id[1].toString()+"'"+" ><a href=\""+new_url+"\">" + new_name + "</a></li>");
				let l=$(modi).find("li:last");
				addimg(l);
				rm_a(l);
			}
				chd = true;
		} else {
			new_url = $("#url").val();
			if (new_name != old_name || new_url != old_url) {
				let i,j=0,id=0,kind=2;
				id=p_id;
				if(old_url){
					if(!new_url||!valid_url(new_url)) {
						$("#errmsg").html(url_err);
						return null;
					}
					i = $(modi).children("a")[0];
					$(i).attr({href:new_url});
					if(new_url!=old_url){
						let sr=new_url;
						sr=get_base(sr)+"favicon.ico";
						$(modi).find("img").attr({src:sr});
					}else{
						new_url='';
					}
				}else{
					kind=5;
					i = $(modi).children("h5")[0];
				}
				$(i).text(new_name);
				if(new_name==old_name){new_name='';}
				/*
				 * 检查是否已存在
				 */
				j=chg_rcd.length;
				if(j){i=1;}else{i=0;}
				while(j&&chg_rcd[j-1][0]!=id){
					j=j-1;
				}
				if(j>0){j=j-1};
				if(!i||chg_rcd[j][0]!=id||chg_rcd[j][1]==3||chg_rcd[j][1]==6){
					chg_rcd.push([id,kind,new_name,new_url]);
				}else{
					if(new_name){
						chg_rcd[j][2]=new_name;
					}
					if(new_url){
						chg_rcd[j][3]=new_url;
					}
				}
				chd = true;
			}
		}
		mod.style.display = "none";
		if(chd){sendtobackground();}
	}
	
	// 折叠文件夹
	function cps(event) {
		hidemenu();
		$(modi).children("li").hide();
		$(modi).children("ul").hide();
	}
	// 展开文件夹
	function xpd(event) {
		hidemenu();
		$(modi).children("li").show();
		$(modi).children("ul").show();
	}
	// 删除文件夹或子书签
	function del(event) {
		// 删除文件夹时，记录所有使用的ID
		let j=0,id=0,i=0,kind=3,id_arr=Array();

		id=parseInt(modi.id);
		if(id==1){
			showfbk(root_err);
			return;
		}
		id_arr.push(id);	
		if(modi.nodeName=="UL"){
			kind=6;
			$(modi).find("li").each(function(){id_arr.push(parseInt($(this).attr("id")));});
			$(modi).find("ul").each(function(){id_arr.push(parseInt($(this).attr("id")));});
		}
		/*
		 * 检查是否已存在
		 */
		j=chg_rcd.length;
		if(j>0){i=1;}
		// 需要从后向前删除，保证操作的顺序
		while(j&&chg_rcd[j-1][0]!=id){
			j=j-1;
		}
		if(j>0){j=j-1;}
		if(i&&chg_rcd[j][0]==id&&(chg_rcd[j][0]!=3||chg_rcd[j][0]!=6)){
			if(chg_rcd[j][1]==1||chg_rcd[j][1]==4){
				chg_rcd.splice(j,1);
			}else{
				chg_rcd[j][1]=kind;
				chg_rcd[j].splice(2,3);
				chd=true;
			}
		}else{
			chd=true;
			chg_rcd.push([id,kind]);
		}
		/*
		 * 上面调整的只是它自身，如果是文件夹，它包含的子文件夹和书签也要处理
		 */
		if(kind==6){
			for(let child of id_arr){
				if(child!=id){
					j=chg_rcd.length;
					if(j>0){i=1;}
					// 需要从后向前删除，保证操作的顺序
					while(j&&chg_rcd[j-1][0]!=child){
						j=j-1;
					}
					if(j>0){j=j-1;}
					if(i&&chg_rcd[j][0]==child){
						chg_rcd.splice(j,1);
					}
				}
			}
		}
		hidemenu();
		// 从页面上删除
		$(modi).remove();
		// 删除使用的ID
		remove_used_id(id_arr);
		sendtobackground();
	}
	// 登出
	function logout(){
		if(chd){
			sendtobackround();
			if(chd){
				return;
			}
		}
		$.ajax({
			url : 'http://127.0.0.1:8000/user/logout', 
			type : 'post',
			cache : false,
			processData : false,
			contentType : false,
			async : true,
		}).done(function(xhr, status, error) {
			location.href='/index.html';
		}).fail(function(){
			let msg=svr_err;
			if(chd){
				msg=msg+';'+saved_err;
			}
			showfbk(msg);
			})
		document.cookie = "login=;expires="+(new Date(0)).toGMTString();
	}
		
	//清除账户
	function rmv(){
		if(!rm_notified){
			rm_notified=true;
			showfbk(rm_ntc);
			return;
		}else{
			$.ajax({
				url : 'http://127.0.0.1:8000/user/del', 
				type : 'post',
				cache : false,
				processData : false,
				contentType : false,
				async : true,
			}).done(function(data,st,xhr) {
				if(xhr.readyState==4&&(xhr.status==200||xhr.status==302)){
				location.href='/index.html';}
			}).fail(function(){
				showfbk(svr_err);
				})
		}	
	}
	
	// 打开帮助页面
	function hlp(){
		window.open("/help.html", '_blank').location;	
	}
	
</script>
</head>

<body>
<div id="header">
<div id="cntn">
	<div id="ctr">
	<button onclick="force_sndbk();">Sync to Server</button>
	<button id='upf_btn' onclick="UploadFile();">Upload File</button>
	<button onclick="logout();">Log Out</button>
	<button onclick="hlp();">Help</button>
	<button onclick="shrtgl();"><span class='shroff'>Display</span><span class='shron'>Hide</span> share URL</button>
	<button onclick="rmv();">Remove Account</button>
	</div>
</div>
	
</div>
<div id="padder">
<!-- 用于空出header的高度 -->
<button ></button>
</div>
<div id='shrinfo'>
	<label>URL for share:</label>
	<p id="shr"></p>
	<p>This URL is associated with your username, won&#39;t change with modification of contents.</p>
	<a href="">make QR code</a>
</div>
	<div id="ifm" ></div>
	<div id="upf">
		<form id="fm" onsubmit="return false;" enctype="multipart/form-data">
		<label>File Address</label> <input type="file" name='upfile'> 
		<p id="errmsgf"></p>
		<button id='cnlupf' onclick="cnl_upf()">Cancel</button>
		<button id='hupf' onclick="h_upf()">Upload</button>
		<button id='clsf' onclick="cls_f()">Close</button>
		</form>
	</div>
	<div id='mod'>
		<div>
		<label>name</label> <input id="name" type="text" value="" required="required">
		</div>
		<div id="urlm">
			<label>URL</label> <input id="url" type="url" value="" required="required">
		</div>
		<div id="errmsg" style="color: red"></div>
		<div style="display:inline-block;">
		<button id='cnlb' onclick="cnl()">Cancel</button>
		<button id='cnfm' onclick="hmod()">OK</button>
		</div>
	</div>
	<div id='feedback'>
	<div id='msgfbk'>
	</div>
	<div style="width:100%;text-align:center"><button id='clsfbk' onclick="cls_fbk()">Close</button></div>
	</div>

	<div id="foldermenu">
		<div id="makefolder" onclick="dadd(this);">new subfolder</div>
		<div id="makeitem" onclick="dadd(this);">new bookmark</div>
		<div id="deletefolder" onclick="del(this);">delete folder</div>
		<div id="modifyfolder" onclick="dmod(this);">modify folder name</div>
		<div id="expandfolder" onclick="xpd(this);">expand</div>
		<div id="collapsefolder" onclick="cps(this);">collapse</div>
	</div>

	<div id="itemmenu">
		<div id="delitm" onclick="del(this);"><span class='en'>remove</span></div>
		<div id="moditm" onclick="dmod(this);"><span class='en'>modify</span></div>
	</div>
	<div id="locknotice">Waiting for sync.Color of Sync button will be grey if updating is availiable.</div>
</body>
</html>