<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>webbookmark-reset password</title>
<style>
p{display:none;}
</style>
<script>
	function get_default_lang(){
		let la=navigator.language||navigator.userLanguage;
		la=la.substr(0, 2);
		if(la == 'zh'){
			lang='zh';
	      }else{
			lang='en';
	      }
		let e=document.getElementsByClassName(la)[0];
		e.style.display="flex";
	}
	window.onload=get_default_lang;
</script>
</head>
<body>
<p class="zh">请发送邮件至1575658778@qq.com,务必附上您的用户名，无需其他内容。</p>
<p class="en">Please email to 1575658778@qq.com, with your username in it, no other information is needed.</p>
</body>
</html>