<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="forget passsword" name="description">
<title>webbookmark-reset password</title>
<style type="text/css">
body{
display:flex;
flex-direction:column;
justify-content: center;
align-items:center;
}
.imp{color:red;}
</style>
</head>
<body>
<p>If you remember your link(no matter It's a share link or your own link),just visit the related page(http://www.webbookmark.cn/c/**), "**" represent your md5 code, and save content locally, then create a new account and upload saved file.Steps:</p>
<ol>
<li>After Login,the web browser will show URL in location bar. For example,  http://127.0.0.1:8000/<span class="imp">owner.html?</span>2709821b9389377c472f64e7981ffa4894a78b4dd0185999543857c11fdce3b8</li>
<li>Replace &quot;<span class="imp">owner.html?</span>&quot; with &quot;<span class="imp">c/</span>&quot;，above URL will be http://127.0.0.1:8000/<span class="imp">c/</span>2709821b9389377c472f64e7981ffa4894a78b4dd0185999543857c11fdce3b8</li>
<li>Press Enter</li>
<li>Now, your bookmark raw data is shown</li>
<li>Copy All content and paste it in a file, save the file</li>
</ol>
<p>Otherwise,if you remember your username,please email to 1575658778@qq.com, with your username in it, no other information is needed.</p>
<p class="imp">If you don't remmeber your username, there is no way to recover.</p>
</body>
</html>