<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>webbookmark-preservation</title>
<style type="text/css">
#pic{display:flex;flex-direction:row;flex-wrap:wrap; justify-content:space-between;}
#pic>div>label{display:block;color:red}
</style>
</head>
<body>
<div>
<h5>Remedy for upload failure</h5>
<p>The entire step takes about 3-5 minutes and can only be performed on a PC-side browser, other platforms not available. Here are the steps:</p>
<ol>
<li>On the browser bookmark page, press Ctrl, Shift, I (capital letter i) at the same time</li>
<li>Find the &quot;Inspector&quot;, move the mouse pointer to that location and click, as shown in Figure 1</li>
<li>Find mouse pointer symbol, move the mouse pointer to that position and click, as shown in Figure 1</li>
<li>Move the mouse pointer to the &quot;root folder&quot; (this is any root folder directory that you rename, which is the top folder name), click on it</li>
<li>At the bottom of the screen, the corresponding position will be highlighted, as shown in Figure 2</li>
<li>Find the above&quot; &lt;div id=&quot;ifm&quot;&gt;&quot; move the mouse pointer over it and click on it, and right-click to pop up the shortcut menu, see Figure 3</li>
<li>Move the mouse pointer over &quot;copy&quot; and click the subsequent &quot;Inner HTML&quot;. Now,the bookmark content is saved to your clipboard</li>
<li>Open any text editor, such as Notepad in Windows, create a new text file, paste content to it and save</li>
<li>When the server is available, upload the saved file</li>
<li>If the server continues to fail, contact the webmaster at 1575658778@qq.com</li>
</ol>
</div>

<div id='pic'>
<div><label>1</label><img src="/pic1.png"></div>
<div><label>2</label><img src="/pic2.png"></div>
<div><label>3</label><img src="/pic3.png"></div>
</div>
</body>
</html>