<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>webbookmark-visitor</title>
<style type="text/css">
a{ text-decoration:none}
img {
	display:inline;
	height:1em;
	width:1em;
}
body {font-family:Verdana,Lucida,Arial,Helvetica,"宋体",sans-serif;}
#foldermenu, #itemmenu {
	display: None;
	width: max-content;
	position: fixed;
	color: black;
	background-color: #E0E0E0;
	opacity: 1.0;
	z-index: 1;
	font-size:small;
}
#header {
	top: 0; 
	left: 0;
	position: fixed;
	display:inline;
	width:100%;
}
#padder {
	z-index:-999;
}
#lg{
float:left;}
#ctr{
float:right;}
#mod,#upf {
	display: none;
	height: 100%;
	width: 100%;
	top: 0; 
	left: 0;
	opacity: 0.9;
	background-color: yellow;
	position: fixed;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}
h5{margin:0;
	padding:0;}
li,ul{list-style:none;}
#ifm{
height:80%;
width:100%;	
}
#padder{visibility:hidden;}
</style>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
	var lang='zh', //使用的语言
	modi,// 待修改的文件夹或书签 原始的事件对象
	ifm, // 内容窗格
	mn, // 菜单
	menue, // 菜单是否存在
	menuh, // 菜单的事件handle
	trans=false, // 是否使用翻译内容
	xmlhttp=new XMLHttpRequest();
	
	const root=new Map([['zh',"抱歉，您访问的书签已经被作者删除或书签链接有误"],['en',"Sorry，the bookmark does not exist, it might be removed by the owner or it's name is not correct."]]);

	function get_default_lang(){
		let la=navigator.language||navigator.userLanguage;
		la=la.substr(0, 2);
		if(la != 'zh'){
			lang='en';
	      }
	}

	function ck_st(){
		if(xmlhttp.readyState==4){
			if(xmlhttp.status==200){
			ifm.innerHTML=	xmlhttp.responseText;
			addimg("#ifm li");
			$("#ifm a").attr({target:"_blank"});
			trans=false;
			}
			else{
			ifm.innerHTML=root.get(lang);
			}
		}
	}	
	
	function ck_lang() {
			let e2;
			let e = window.event.target;
			if(e.nodeName=='DIV'){return;}
			e.style.color='white';
			e.style.background='black';
			lang = e.getAttribute('id');
			switch (lang) {
			case 'zh':
				e2=document.getElementById("en");	
				$(".en").hide();
				$(".zh").show();
				break;
			case 'en':
				e2=document.getElementById("zh");	
				$(".zh").hide();
				$(".en").show();
				break;
			}
			e2.style.color='black';
			e2.style.background='white';
			if(trans){
				ifm.innerHTML=root.get(lang);
			}
		}
	
	
	window.onload=function (){
		
		ifm=document.getElementById("ifm");
		ifm.onclick=menu;
		
		// 选择语言
		var lgc=document.getElementById("lg");	
		lgc.onclick=ck_lang;
		get_default_lang();
		document.getElementById(lang).click();
		
		xmlhttp.onreadystatechange=ck_st;
		let src=location.search.substring(1);
		if(!src){
			ifm.innerHTML=root.get(lang);
			trans=true;
		}
		xmlhttp.open("GET",'/c/'+ src,true);
		xmlhttp.send();

	}
	
	// 菜单处理
	function displaymenu(e) {
		if (!menue) {
			$(e).show(100, 'linear');
			menue= false;
			menuh = setTimeout(function() {
				let m = $(e);
				menuNotExist = true;
				m.hide();
			}, 5 * 1000);
		}
	};

	function menu(e) {
		modi = e.target.parentElement;
		e.preventDefault();
		if (e.target.nodeName == "H5") {
			mn = $("#foldermenu");
		} else if(e.target.nodeName == "A"){
			window.open($(e.target).attr("href"), '_blank').location;	
		} else {
			return null;
		}
		let x = e.clientX;
		let y = e.clientY;
		mn.css("left", x + 'px');
		mn.css('top', y + 'px');
		displaymenu(mn);
	}
	
	function hidemenu(){
		menue=false;
		window.clearTimeout(menuh);
		$(mn).hide();
	}

	// 处理图像
	function imgerr(e){
		let im=e.srcElement;
		e.src="global.svg";
		e.onerror=null;
	}

	function addimg(e){
		$(e).each(function(n,ee){
		let src=$(ee).find("a").attr("href");
		let i=src.indexOf("//");
		if(i==-1){
			i=0;
		 }else{
			i=i+3;
		 }
		 i=src.indexOf("/",i);
		 if(i==-1){
			 src=src+'/';
		 }else{
			 src=src.substring(0,i+1);
		 }
		 $(ee).prepend("<img src='" +src+ "favicon.ico'"+
				 "onerror=\"imgerr(this);\"/>");
		})
	}

	// 折叠文件夹
	function cps(event) {
		hidemenu();
		$(modi).children("li").hide();
		$(modi).children("ul").hide();
	}

	// 折叠文件夹
	function cpsa(event) {
		hidemenu();
		$(modi).find("li").hide();
		$(modi).find("ul").hide();
	}


	// 展开文件夹
	function xpd(event) {
		hidemenu();
		$(modi).children("li").show();
		$(modi).children("ul").show();
	}

	// 展开文件夹
	function xpda(event) {
		hidemenu();
		$(modi).find("li").show();
		$(modi).find("ul").show();
	}
</script>
<body>
	<div id="lg">
			<button id="en">English</button>
			<button id="zh">中文</button>
	</div>
<div id="padder">
<!-- 用于空出header的高度 -->
<button ></button>
</div>
<h3><span class='zh'>这些链接由公众自由上传，并无安全检验。当打开链接，浏览器提示风险时，请勿打开！</span><span class='en'>These links are created by public WITHOUT safety-check. If ALARMING while opening, CLOSE THE PAGE.</span></h3>
	<div id="ifm" ></div>
	

	<div id="foldermenu">
		<div id="expandfolder" onclick="xpd(this);"><span class='zh'>展开文件夹</span><span class='en'>expand</span></div>
		<div id="expandall" onclick="xpda(this);"><span class='zh'>展开全部</span><span class='en'>expand all</span></div>
		<div id="collapsefolder" onclick="cps(this);"><span class='zh'>折叠文件夹</span><span class='en'>collapse</span></div>
		<div id="collapseall" onclick="cpsa(this);"><span class='zh'>折叠全部</span><span class='en'>collapse all</span></div>
	</div>
	
</body>
</html>